@mixin text-shadow($value1, $value2, $value3, $color) {
	-moz-text-shadow: $value1 $value2 $value3 $color;
	-webkit-text-shadow: $value1 $value2 $value3 $color;
	-o-text-shadow: $value1 $value2 $value3 $color;
	text-shadow: $value1 $value2 $value3 $color;
}
@mixin box-shadow-inset($value1, $value2, $value3, $value4, $color) {
	-moz-box-shadow: inset $value1 $value2 $value3 $value4 $color;
	-webkit-box-shadow: inset $value1 $value2 $value3 $value4 $color;
	-o-box-shadow: inset $value1 $value2 $value3 $value4 $color;
	box-shadow: inset $value1 $value2 $value3 $value4 $color;
}