//Color swatches of Values

$white: #fff;
$black: #000;
$gray: #777;
$gray-5: #555;
$gray-b: #bbb;
$gray-a: #aaa;
$orange: #ff6d00;
$blue: #1976d2;

//color background
$bg-gray: #f5f5f5;
$bg-dark: #202020;
$bg-info: #25282c;
$rgba-02: rgba(0,0,0,0.2);
$rgba-05: rgba(0,0,0,0.5);
$rgba-08: rgba(0,0,0,0.8);

//color text
$txt-default: #333;
